# Introduction

This notebook shows the steps of selecting adn debugging the matchers.
We first import py_entitymatching and other required packages and load the tables A, B and G.

In [1]:
import py_entitymatching as em
import pandas as pd

In [2]:
A = em.read_csv_metadata('../data/A.csv', key='id')
B = em.read_csv_metadata('../data/B.csv', key='id')
# Load the labeled data
G = em.read_csv_metadata('../data/S_labeled.csv', key='_id', 
                         ltable=A, rtable=B, fk_ltable='ltable_id', fk_rtable='rtable_id')

print("Table G with length %d" % len(G))
G.head()

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

Table G with length 500

,_id,ltable_id,rtable_id,ltable_name,ltable_address,ltable_city,ltable_zipcode,ltable_phone,rtable_name,rtable_address,rtable_city,rtable_zipcode,rtable_phone,labe
0,1,a1,b162,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020,2.133899e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,1
1,23,a2,b162,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020,2.133850e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,0
2,24,a2,b268,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020,2.133850e+09,Kang Hodong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,1
3,32,a2,b1987,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020,2.133850e+09,KangHoDong Baek Jeong,3465 W 6th St Ste 20,Los Angeles,90020.0,2.133850e+09,1
4,177,a37,b162,Hangari Bajirak Kalgooksoo,3470 W 6th St,Los Angeles,90020,2.133882e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,0

In [3]:
# Split G into I and J
IJ = em.split_train_test(G, train_proportion=0.5, random_state=0)
I = IJ['train']
J = IJ['test']
# Store I and J in csv format
em.to_csv_metadata(I, '../data/I.csv')
em.to_csv_metadata(J, '../data/J.csv')
print('length of I: %d' % len(I))
print('length of J: %d' % len(J))

File already exists at ../data/I.csv; Overwriting it
Metadata file already exists at ../data/I.metadata. Overwriting it
File already exists at ../data/J.csv; Overwriting it
Metadata file already exists at ../data/J.metadata. Overwriting it

length of I: 250
length of J: 250

# Creating  a set of learning-based matchers

We created the following matchers: (1) decision tree, (2) random forest, (3) naive bayes, (4) svm, (5) logistic regression, and (6) linear regression.

In [4]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

# Creating features

Next, we selected the attributes, including name, category_1, category_2, address, city, zipcodw and phone, in the input tables, and automatically generated features by py_entitymatching built-in function.

In [5]:
# Generate a set of features
F = em.get_features_for_matching(A.iloc[:, 1:8], B.iloc[:, 1:8], validate_inferred_attr_types=False)

# Show the generated features
print("Magellan generated the following %s features" % len(F))
F.feature_name

Magellan generated the following 48 features

0                     name_name_jac_qgm_3_qgm_3
1                 name_name_cos_dlm_dc0_dlm_dc0
2                 name_name_jac_dlm_dc0_dlm_dc0
3                                 name_name_mel
4                            name_name_lev_dist
5                             name_name_lev_sim
6                                 name_name_nmw
7                                  name_name_sw
8         category_1_category_1_jac_qgm_3_qgm_3
9     category_1_category_1_cos_dlm_dc0_dlm_dc0
10    category_1_category_1_jac_dlm_dc0_dlm_dc0
11                    category_1_category_1_mel
12               category_1_category_1_lev_dist
13                category_1_category_1_lev_sim
14                    category_1_category_1_nmw
15                     category_1_category_1_sw
16        category_2_category_2_jac_qgm_3_qgm_3
17    category_2_category_2_cos_dlm_dc0_dlm_dc0
18    category_2_category_2_jac_dlm_dc0_dlm_dc0
19                    category_2_category_2_mel
20               category_2_category_2_lev_dist
21                category_2_category_2_lev_sim
22                    category_2_category_2_nmw
23                     category_2_category_2_sw
24              address_address_jac_qgm_3_qgm_3
25          address_address_cos_dlm_dc0_dlm_dc0
26          address_address_jac_dlm_dc0_dlm_dc0
27                          address_address_mel
28                     address_address_lev_dist
29                      address_address_lev_sim
30                          address_address_nmw
31                           address_address_sw
32                    city_city_jac_qgm_3_qgm_3
33                city_city_cos_dlm_dc0_dlm_dc0
34                city_city_jac_dlm_dc0_dlm_dc0
35                                city_city_mel
36                           city_city_lev_dist
37                            city_city_lev_sim
38                                city_city_nmw
39                                 city_city_sw
40                          zipcode_zipcode_exm
41                          zipcode_zipcode_anm
42                     zipcode_zipcode_lev_dist
43                      zipcode_zipcode_lev_sim
44                              phone_phone_exm
45                              phone_phone_anm
46                         phone_phone_lev_dist
47                          phone_phone_lev_sim
Name: feature_name, dtype: object

# Extracting feature vectors

We then extracted feature vectors using the development set (I) created features.

In [6]:
# Convert the I into a set of feature vectors using F
H = em.extract_feature_vecs(I, 
                            feature_table=F, 
                            attrs_after='labe',
                            show_progress=False)
print('The table of feature vecors:')
H.head()

The table of feature vecors:

,_id,ltable_id,rtable_id,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,name_name_jac_dlm_dc0_dlm_dc0,name_name_mel,name_name_lev_dist,name_name_lev_sim,name_name_nmw,...,city_city_sw,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev_dist,zipcode_zipcode_lev_sim,phone_phone_exm,phone_phone_anm,phone_phone_lev_dist,phone_phone_lev_sim,labe
476,842418,a1853,b1255,0.125000,0.353553,0.200,0.723671,18.0,0.217391,-9.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
162,36618,a1400,b2392,1.000000,1.000000,1.000,1.000000,0.0,1.000000,9.0,...,11.0,1.0,1.0,0.0,1.0,1.0,1.000000,0.0,1.000000,1
34,3380,a2092,b1024,0.157895,0.333333,0.200,0.642839,13.0,0.409091,5.0,...,11.0,1.0,1.0,0.0,1.0,0.0,0.999814,5.0,0.583333,0
44,5763,a53,b42,1.000000,1.000000,1.000,1.000000,0.0,1.000000,5.0,...,11.0,1.0,1.0,0.0,1.0,1.0,1.000000,0.0,1.000000,1
97,14717,a1050,b599,0.090909,0.235702,0.125,0.410256,22.0,0.153846,-4.0,...,11.0,1.0,1.0,0.0,1.0,0.0,1.000000,5.0,0.583333,0

In [7]:
# Check if the feature vectors contain missing values
any(pd.notnull(H))

True

We observed that the extracted feature vectors contain missing values. Thus, We have to impute the missing values for the learning-based matchers to fit the model correctly. Here, we impute the missing value in a column with the mean of the values in that column.

In [8]:
# Impute feature vectors with the mean of the column values.
H = em.impute_table(H, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
                strategy='mean')

# Selecting the best matcher using cross-validation

Now, we selected the best matcher using 5-fold cross-validation and used 'precision' metric to select the best matcher.

In [9]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
        k=5,
        target_attr='labe', metric_to_select_matcher='f1', random_state=0)
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.946289        0.962761    0.953599
1            RF           0.969858        0.979259    0.974203
2           SVM           0.895076        0.942678    0.915440
3        LinReg           0.977000        0.971852    0.974205
4        LogReg           0.960386        0.949428    0.953793
5    NaiveBayes           0.985185        0.951852    0.966864

# Debug matcher (Naive Bayes)

In this step, we choosed the best matcher -- Naive Bayes -- based on precision score, and tested the extra feature related to price and rating.

In [10]:
# Split H into P and Q
PQ = em.split_train_test(H, train_proportion=0.5, random_state=0)
P = PQ['train']
Q = PQ['test']

# Create a feature on the value of (price + rating), then compute Levenshtein similarity
sim = em.get_sim_funs_for_matching()
tok = em.get_tokenizers_for_matching()
feature_string = """lev_sim(wspace(float(ltuple['price']) + float(ltuple['rating'])), 
                            wspace(float(rtuple['price']) + float(rtuple['rating'])))"""
feature = em.get_feature_fn(feature_string, sim, tok)

# Add feature to F
em.add_feature(F, 'lev_ws_price+rating', feature)

True

In [11]:
# Train using feature vectors from P
Pf = em.extract_feature_vecs(P, feature_table=F, attrs_after='labe',show_progress=False)
Pf = em.impute_table(Pf, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
                strategy='mean')

# Train using feature vectors from P
matcher = nb
name = 'NaiveBayes'
matcher.fit(table=Pf, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

# Convert Q into a set of feature vectors using F
Qf = em.extract_feature_vecs(Q, feature_table=F, attrs_after=['labe'])
Qf = em.impute_table(Qf, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
                strategy='mean')

# Predict
predictions = matcher.predict(table=Qf, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

NaiveBayes
Precision : 100.0% (58/58)
Recall : 89.23% (58/65)
F1 : 94.31%
False positives : 0 (out of 58 positive predictions)
False negatives : 7 (out of 67 negative predictions)

### Selecting the best matcher agaian with the new feature set
We observed that the new feature set with extra feature could improve the precision of Naive Bayes matcher.
we then tested the new feature set on 6 matchers with cross validation.
The best matcher is still the Naive Bayes matcher.

In [12]:
# Convert I into feature vectors using updated F
H = em.extract_feature_vecs(I, 
                            feature_table=F, 
                            attrs_after='labe',
                            show_progress=False)
H = em.impute_table(H, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
                strategy='mean')

# Select the best matcher again using CV
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
        k=5,
        target_attr='labe', metric_to_select_matcher='f1', random_state=0)
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.960696        0.962761    0.961258
1            RF           0.976623        0.963502    0.969706
2           SVM           0.893651        0.933587    0.910848
3        LinReg           0.977000        0.971852    0.974205
4        LogReg           0.960386        0.949428    0.953793
5    NaiveBayes           0.985185        0.951852    0.966864

# Test the matchers on testing set (J)

Next, we trained the 6 matchers with new feature vectors generated from set I and debugging step, and tested on set J.
The following is the resuslt of each matcher:


## Decision Tree

In [13]:
# decision tree
matcher = dt
name = 'DecisionTree'

matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

Ht = em.extract_feature_vecs(J, 
                            feature_table=F, 
                            attrs_after='labe',
                            show_progress=False)
Ht = em.impute_table(Ht, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'],
                strategy='mean')

# Predict
predictions = matcher.predict(table=Ht, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

DecisionTree
Precision : 91.18% (124/136)
Recall : 95.38% (124/130)
F1 : 93.23%
False positives : 12 (out of 136 positive predictions)
False negatives : 6 (out of 114 negative predictions)

## SVM

In [14]:
# SVM
matcher = svm
name = 'SVM'

matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

# Predict
predictions = matcher.predict(table=Ht, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

SVM
Precision : 88.32% (121/137)
Recall : 93.08% (121/130)
F1 : 90.64%
False positives : 16 (out of 137 positive predictions)
False negatives : 9 (out of 113 negative predictions)

## Random Forest

In [15]:
# Random Forest
matcher = rf
name = 'RandomForest'

matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

# Predict
predictions = matcher.predict(table=Ht, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

RandomForest
Precision : 94.53% (121/128)
Recall : 93.08% (121/130)
F1 : 93.8%
False positives : 7 (out of 128 positive predictions)
False negatives : 9 (out of 122 negative predictions)

## Naive Bayes

In [16]:
matcher = nb
name = 'NaiveBayes'

matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

# Predict
predictions = matcher.predict(table=Ht, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

NaiveBayes
Precision : 97.6% (122/125)
Recall : 93.85% (122/130)
F1 : 95.69%
False positives : 3 (out of 125 positive predictions)
False negatives : 8 (out of 125 negative predictions)

## Logistic Regression

In [17]:
matcher = lg
name = 'LogReg'

matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

# Predict
predictions = matcher.predict(table=Ht, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

LogReg
Precision : 96.0% (120/125)
Recall : 92.31% (120/130)
F1 : 94.12%
False positives : 5 (out of 125 positive predictions)
False negatives : 10 (out of 125 negative predictions)

## Linear Regression

In [18]:
matcher = ln
name = 'LinReg'

matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
       target_attr='labe')

# Predict
predictions = matcher.predict(table=Ht, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'labe'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'labe', 'predicted')
print(name)
em.print_eval_summary(eval_result)
eval_summary = em.eval_matches(predictions, 'labe', 'predicted')

LinReg
Precision : 97.64% (124/127)
Recall : 95.38% (124/130)
F1 : 96.5%
False positives : 3 (out of 127 positive predictions)
False negatives : 6 (out of 123 negative predictions)

## Test Results

From the results above, we observed that the <b>Naive Bayes</b> (precision 97.6%) and the <b>Linear Regression</b> (precision 97.6%) have the best performance compared with precision score, while the <b>Linear Regression</b> matcher has the better recall and F1.