# Introduction

This notebook uses Magellan, an Entity Matching (EM) tool developed in University of Wisconsin - Madison, to match resturants from Yelp (Dataset A) and Tridadvisor (Dataset B). Each dataset consists of information of 3000+ resturants in Los Angeles.

First, import *py_entitymatching* and other libraries.

In [1]:
import py_entitymatching as em
import pandas as pd
import warnings
warnings.simplefilter('ignore')

# Read input tables

Load csv file as dataframes and set the key attribute in the dataframe

In [2]:
A = em.read_csv_metadata('A.csv', key='id')
B = em.read_csv_metadata('B.csv', key='id')

No handlers could be found for logger "py_entitymatching.io.parsers"

In [3]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B: ' + str(len(A) * len(B)))

Number of tuples in A: 3188
Number of tuples in B: 3120
Number of tuples in A X B: 9946560

In [4]:
A.head(4)

,id,name,category_1,category_2,address,city,zipcode,phone,price,rating,...,hours_tue_open,hours_tue_close,hours_wed_open,hours_wed_close,hours_thu_open,hours_thu_close,hours_fri_open,hours_fir_close,hours_sat_open,hours_sat_close
0,a1,Hae Jang Chon Korean BBQ Restaurant,korean,barbeque,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,2.0,4.0,...,1100.0,200.0,1100.0,200.0,1100.0,200.0,1100.0,200.0,1100.0,200.0
1,a2,Kang Ho-dong Baekjeong,barbeque,korean,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,2.0,4.5,...,1130.0,130.0,1130.0,130.0,1130.0,130.0,1130.0,130.0,1130.0,130.0
2,a3,Road To Seoul,korean,barbeque,1230 S Western Ave,Los Angeles,90006.0,3.237319e+09,2.0,4.0,...,1100.0,2400.0,1100.0,2400.0,1100.0,100.0,1100.0,100.0,1100.0,2300.0
3,a4,Langer's,delis,sandwiches,704 S Alvarado St,Los Angeles,90057.0,2.134838e+09,2.0,4.5,...,800.0,1600.0,800.0,1600.0,800.0,1600.0,800.0,1600.0,NaN,NaN

In [5]:
B.head(4)

,id,name,category_1,category_2,address,city,zipcode,phone,price,rating,...,hours_tue_open,hours_tue_close,hours_wed_open,hours_wed_close,hours_thu_open,hours_thu_close,hours_fri_open,hours_fri_close,hours_sat_open,hours_sat_close
0,b1,Providence,Seafood,Vegetarian Friendly,5955 Melrose Ave,Los Angeles,90038.0,3.238378e+09,4.0,4.5,...,1800.0,2200.0,1800.0,2200.0,1800.0,2200.0,1800.0,2200.0,1730.0,2200.0
1,b2,Raffaello Ristorante,Italian,Vegetarian Friendly,400 S Pacific Ave,Los Angeles,90731.0,3.105141e+09,2.5,4.5,...,1100.0,1400.0,1100.0,1400.0,1100.0,1400.0,1100.0,1400.0,1500.0,2145.0
2,b3,Brent's Delicatessen & Restaurant,American,Delicatessen,19565 Parthenia St,Los Angeles,91324.0,8.188866e+09,2.5,4.5,...,600.0,2100.0,600.0,2100.0,600.0,2100.0,600.0,2100.0,600.0,2100.0
3,b4,Tocaya Organica,Mexican,Latin,1715 Pacific Avenue,Los Angeles,NaN,4.247449e+09,1.0,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Since both tables are small, downsampling is not performed.

In [6]:
A1, B1 = em.down_sample(A, B, 800, 5, show_progress = False)
len(A1), len(B1)

(1787, 800)

# Block tables to get candidate set

### First attempt

Blocker 1: Matching resturants should be in the same city

Since all the resturants are in the Los Angeles area, blocker 1 still results in a large number of candidate pairs.

In [7]:
# Create attribute equivalence blocker
ab1 = em.AttrEquivalenceBlocker()

# Block using city attribute
C1 = ab1.block_tables(A, B, 'city', 'city',
                     l_output_attrs = ['name', 'address', 'city', 'zipcode', 'phone'],
                     r_output_attrs = ['name', 'address', 'city', 'zipcode', 'phone'])

len(C1)

3435309

Blocker 2: Matching resturants should be within the same zipcode

This step reduces the preivous candidate set by a factor of 10

In [8]:
# Create attribute equivalence blocker
ab2 = em.AttrEquivalenceBlocker()

# Block using zipcod attribute
C2 = ab2.block_candset(C1, 'zipcode', 'zipcode', allow_missing = True, 
                      show_progress = False)

len(C2)

279897

Blocker 3: matching resturants should use the same phone number

This blocker reduces the candiate set by a factor of 5

In [9]:
# Create attribute equivalence blocker
ab3 = em.AttrEquivalenceBlocker()

# Block using phone number
C3 = ab3.block_candset(C2, 'phone', 'phone', allow_missing = True,
                      show_progress = False)

len(C3)

51576

Blocker 4: matching resturants should share some common words in street adress

In this step, stopwords needs to be updated to include common words in address, such as "Street", "st", "Avenue", "Ave", "Boulevard", "Blvd", "Drive", "Dr", "Road", "Rd"

This block reduces the candidate set by a factor of 5

In [10]:
# Create overlap blocker
op1 = em.OverlapBlocker()

# Update stopwords
addr_stopwords = ['street','st','avenue','ave','boulevard','blvd',
                     'drive','dr','road','rd','s','n','e','w']
op1.stop_words.extend(addr_stopwords)

op1.stop_words

['a',
 'an',
 'and',
 'are',
 'as',
 'at',
 'be',
 'by',
 'for',
 'from',
 'has',
 'he',
 'in',
 'is',
 'it',
 'its',
 'on',
 'that',
 'the',
 'to',
 'was',
 'were',
 'will',
 'with',
 'street',
 'st',
 'avenue',
 'ave',
 'boulevard',
 'blvd',
 'drive',
 'dr',
 'road',
 'rd',
 's',
 'n',
 'e',
 'w']

In [11]:
# Block using address
C4 = op1.block_candset(C3, 'address', 'address', word_level = True, overlap_size = 1,
                      rem_stop_words = True, show_progress = False, allow_missing = True)

len(C4)

3885

Blocker 5: matching resturants should share common tokens in name

This step reduces the candidate set by a factor of 10

In [12]:
# Create overlap blocker
op2 = em.OverlapBlocker()

# Block using name
C5 = op2.block_candset(C4, 'name', 'name', word_level = False, q_val = 3,
                      overlap_size = 2, show_progress = False, allow_missing = True)

len(C5)

956

In [13]:
C5.head(10)

,_id,ltable_id,rtable_id,ltable_name,ltable_address,ltable_city,ltable_zipcode,ltable_phone,rtable_name,rtable_address,rtable_city,rtable_zipcode,rtable_phone
133,133,a1,b162,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09
2736,2736,a2,b268,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,Kang Hodong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09
4121,4121,a2,b1987,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,KangHoDong Baek Jeong,3465 W 6th St Ste 20,Los Angeles,90020.0,2.133850e+09
5613,5613,a3,b710,Road To Seoul,1230 S Western Ave,Los Angeles,90006.0,3.237319e+09,Road to Seoul,1230 S Western Ave,Los Angeles,90006.0,3.237319e+09
7584,7584,a4,b7,Langer's,704 S Alvarado St,Los Angeles,90057.0,2.134838e+09,Langer's,704 S Alvarado St,Los Angeles,90057.0,2.134838e+09
10415,10415,a5,b392,EMC Seafood & Raw Bar,3500 W 6th St,Los Angeles,90020.0,2.133520e+09,EMC Seafood and Raw Bar,3500 W 6th St,Los Angeles,90020.0,2.133520e+09
12803,12803,a6,b223,Soowon Galbi KBBQ Restaurant,856 S Vermont Ave,Los Angeles,90005.0,2.133659e+09,Soowon Galbi,856 S Vermont Ave,Los Angeles,90005.0,2.133659e+09
15462,15462,a7,b385,Beer Belly,532 S Western Ave,Los Angeles,90020.0,2.133872e+09,Beer Belly,532 S Western Ave,Los Angeles,90020.0,2.133872e+09
17979,17979,a8,b372,BCD Tofu House,3575 Wilshire Blvd,Los Angeles,90010.0,2.133827e+09,BCD Tofu House,3575 Wilshire Blvd,Los Angeles,90010.0,2.133827e+09
20954,20954,a9,b939,Slurpin' Ramen Bar,3500 W 8th St,Los Angeles,90005.0,2.133889e+09,Slurpin' Ramen Bar,3500 W 8th St,Los Angeles,90005.0,2.133889e+09

### Debug Blocker

Make sure that blocker did not drop any potential matches

This step removes the equivalance blocker on city, since the city attributes have different context in the two tables.

The final blocker exercise attribute equivalance on zipcode and phone number, ensure overlap of at least two 3-gram words in name of the restuarant. The final candidate set includes 1123 pairs.

In [14]:
# Debug blocker output
dbg = em.debug_blocker(C5, A, B, output_size = 200)

dbg.head()

,_id,ltable_id,rtable_id,ltable_name,ltable_category_1,ltable_category_2,ltable_address,ltable_city,rtable_name,rtable_category_1,rtable_category_2,rtable_address,rtable_city
0,0,a629,b2329,Andre's Italian Restaurant,italian,pizza,6332 W 3rd St,Los Angeles,All'Angolo,Italian,Pizza,4050 W 3rd St,Los Angeles
1,1,a2209,b1456,Tacone,american (new),NaN,330 S Hope St,Los Angeles,California Pizza Kitchen,American,Pizza,330 S Hope St,Los Angeles
2,2,a73,b1471,Grand Central Market,food court,NaN,317 S Broadway,Los Angeles,Golden Road at Grand Central,NaN,NaN,317 S Broadway,Los Angeles
3,3,a2284,b1649,Yoshinoya,japanese,fast food,3021 S Figueroa St,Los Angeles,Chick-fil-A,Fast Food,American,3758 S Figueroa St,Los Angeles
4,4,a1810,b780,Pitfire Artisan Pizza,pizza,sandwiches,5211 Lankershim Blvd,North Hollywood,Pitfire Artisan Pizza,Pizza,Italian,5211 Lankershim Blvd,Los Angeles

The debug results suggest two issues in the original blocker.

1) the city attribute in Table A has a different schema context from that of table B. In table A (yelp), the city attributes indicates city or particular location (e.g. Hollywook) for some resturants. Therefore, the attribute equivalance blocker based on city needs to be removed.

2) Equivalance on phone number could be too aggressive. A single resturant could have two different phone numbers, and typos are more often in phone number attribute. Therefore, the blocker on phone number need to be changed to overlap blocker.

### Final Blocker

In [15]:
# Block using zipcode attribute equivalance
ab3 = em.AttrEquivalenceBlocker()
C6 = ab3.block_tables(A, B, 'zipcode', 'zipcode', allow_missing = True,
                     l_output_attrs = ['name', 'address', 'city', 'zipcode', 'phone'],
                     r_output_attrs = ['name', 'address', 'city', 'zipcode', 'phone'])

len(C6)

1038989

In [16]:
# Block using address
op3 = em.OverlapBlocker()
op3.stop_words.extend(addr_stopwords)
C7 = op3.block_candset(C6, 'address', 'address', word_level = True, overlap_size = 1,
                      rem_stop_words = True, show_progress = False, allow_missing = False)

len(C7)

23390

In [17]:
# Block using name
op4 = em.OverlapBlocker()
C8 = op4.block_candset(C7, 'name', 'name', word_level = False, q_val = 3,
                      overlap_size = 2, show_progress = False, allow_missing = True)

len(C8)

2803

In [18]:
# Block using phone number
op5 = em.OverlapBlocker()
C = op5.block_candset(C8, 'phone', 'phone', word_level = False, q_val = 3,
                      overlap_size = 4, allow_missing = True, show_progress = False)

In [19]:
len(C)

1745

In [20]:
C.head()

,_id,ltable_id,rtable_id,ltable_name,ltable_address,ltable_city,ltable_zipcode,ltable_phone,rtable_name,rtable_address,rtable_city,rtable_zipcode,rtable_phone
1,1,a1,b162,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09
2,2,a1,b268,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,Kang Hodong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09
10,10,a1,b1987,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,KangHoDong Baek Jeong,3465 W 6th St Ste 20,Los Angeles,90020.0,2.133850e+09
23,23,a2,b162,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09
24,24,a2,b268,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,Kang Hodong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09

In [21]:
# Debug blocker output
dbg = em.debug_blocker(C, A, B, output_size = 200)

dbg.head(50)

,_id,ltable_id,rtable_id,ltable_name,ltable_category_1,ltable_category_2,ltable_address,ltable_city,rtable_name,rtable_category_1,rtable_category_2,rtable_address,rtable_city
0,0,a565,b2179,TOI On Sunset,thai,NaN,7505 1/2 W Sunset Blvd,Los Angeles,Alegria on Sunset,Mexican,NaN,3510 W Sunset Blvd,Los Angeles
1,1,a1398,b2097,Natalee Thai,thai,NaN,10101 Venice Blvd,Los Angeles,Natalee Thai,Asian,Thai,998 S Robertson Blvd,Los Angeles
2,2,a354,b2660,El Gallo Grill,mexican,NaN,4533 E Cesar E Chavez Ave,Los Angeles,La Parrilla,Mexican,Latin,2126 E Cesar E Chavez Ave,Los Angeles
3,3,a664,b435,El Huero,mexican,fast food,3000 S Figueroa St,Los Angeles,Smashburger,American,Fast Food,1011 S Figueroa St,Los Angeles
4,4,a88,b923,Orochon Ramen,ramen,noodles,123 Astronaut E S Onizuka St,Los Angeles,Curry House,Asian,Japanese,123 Astronaut E S Onizuka St,Los Angeles
5,5,a2448,b3036,Jimmy's Kitchen,asian fusion,NaN,308 Westwood Plz,Los Angeles,Rubio's,NaN,NaN,308 Westwood Plz,Los Angeles
6,6,a2425,b278,Panda Express,chinese,fast food,308 Westwood Plz,Los Angeles,Panda Express,Chinese,Fast Food,5543 W Sunset Blvd,Los Angeles
7,7,a844,b2761,Tottino's Pizza,pizza,italian,1139 N La Brea Ave,Inglewood,Raffallo's Pizza,Italian,Pizza,1657 N La Brea Ave,Los Angeles
8,8,a1224,b2689,Chipotle Mexican Grill,fast food,mexican,10250 Santa Monica Blvd,Los Angeles,Chipotle Mexican Grill,Mexican,NaN,5550 Wilshire Blvd,Los Angeles
9,9,a2207,b2672,Dan's Deli,delis,sandwiches,300 S Grand Ave,Los Angeles,Saffron,Indian,NaN,300 S Grand Ave,Los Angeles
10,10,a844,b1254,Tottino's Pizza,pizza,italian,1139 N La Brea Ave,Inglewood,Pizza Romana,Pizza,Italian,615 N La Brea Ave,Los Angeles
11,11,a2444,b3036,Kikka,sushi bars,ramen,308 Westwood Plz,Los Angeles,Rubio's,NaN,NaN,308 Westwood Plz,Los Angeles
12,12,a354,b2052,El Gallo Grill,mexican,NaN,4533 E Cesar E Chavez Ave,Los Angeles,King Taco,Mexican,Latin,2400 E Cesar E Chavez Ave,Los Angeles
13,13,a2433,b3036,Taco Bell,fast food,NaN,308 Westwood Plz,Los Angeles,Rubio's,NaN,NaN,308 Westwood Plz,Los Angeles
14,14,a2022,b1883,NBC Seafood Restaurant,seafood,dim sum,404 S Atlantic Blvd,Monterey Park,Atlantic Seafood & Dim Sum restaurant,Chinese,Seafood,500 N Atlantic Blvd,Monterey Park
15,15,a122,b2647,Cafe Creole,cajun/creole,NaN,3650 W Martin Luther King Jr Blvd,Los Angeles,Southern Girl Desserts,NaN,NaN,3650 W Martin Luther King Jr Blvd Ste 100,Los Angeles
16,16,a2125,b1649,Chick-fil-A 7th & Fig In-Line,fast food,NaN,660 S Figueroa St,Los Angeles,Chick-fil-A,Fast Food,American,3758 S Figueroa St,Los Angeles
17,17,a1141,b2875,El Pollo Loco,fast food,mexican,330 N Alvarado St,Los Angeles,El Pollo Loco,Mexican,Spanish,503 S Alvarado St,Los Angeles
18,18,a321,b120,Moles La Tia,mexican,NaN,4619 E Cesar E Chavez Ave,Los Angeles,Guisados,Mexican,Latin,2100 E Cesar E Chavez Ave,Los Angeles
19,19,a313,b120,La Azteca Tortilleria,mexican,NaN,4538 E Cesar E Chavez Ave,Los Angeles,Guisados,Mexican,Latin,2100 E Cesar E Chavez Ave,Los Angeles
20,20,a664,b1124,El Huero,mexican,fast food,3000 S Figueroa St,Los Angeles,Chipotle Mexican Grill,Mexican,Fast Food,3748 S Figueroa St,Los Angeles
21,21,a87,b636,Sushi Gen,sushi bars,japanese,422 E 2nd St,Los Angeles,Kula Revolving Sushi Bar,Japanese,Sushi,333 E 2nd St,Los Angeles
22,22,a1192,b399,Shake Shack,american (traditional),fast food,10250 Santa Monica Blvd,Los Angeles,Shake Shack,American,Fast Food,8520 Santa Monica Blvd,West Hollywood
23,23,a1085,b2387,El Pollo Loco,mexican,fast food,5300 Centinela Ave,Los Angeles,El Pollo Loco,Mexican,Fast Food,8154 W Sunset Blvd,Los Angeles
24,24,a165,b636,Hama Sushi,sushi bars,japanese,347 E 2nd St,Los Angeles,Kula Revolving Sushi Bar,Japanese,Sushi,333 E 2nd St,Los Angeles
25,25,a2136,b248,Il Tramezzino - Beverly Hills,italian,NaN,454 N Canon Dr,Beverly Hills,Spago Beverly Hills,Italian,American,176 N Canon Dr,Beverly Hills
26,26,a354,b120,El Gallo Grill,mexican,NaN,4533 E Cesar E Chavez Ave,Los Angeles,Guisados,Mexican,Latin,2100 E Cesar E Chavez Ave,Los Angeles
27,27,a1085,b639,El Pollo Loco,mexican,fast food,5300 Centinela Ave,Los Angeles,El Pollo Loco,Mexican,Fast Food,7101 W Sunset Blvd,Los Angeles
28,28,a2051,b1921,El Pollo Loco,fast food,mexican,5319-51 Sunset Blvd,Los Angeles,El Pollo Loco,Mexican,Fast Food,8239 Topanga Canyon Rd,Los Angeles
29,29,a322,b2660,Tamales Lilianas,mexican,NaN,4629 E Cesar E Chavez Ave,Los Angeles,La Parrilla,Mexican,Latin,2126 E Cesar E Chavez Ave,Los Angeles
30,30,a322,b2052,Tamales Lilianas,mexican,NaN,4629 E Cesar E Chavez Ave,Los Angeles,King Taco,Mexican,Latin,2400 E Cesar E Chavez Ave,Los Angeles
31,31,a1085,b1921,El Pollo Loco,mexican,fast food,5300 Centinela Ave,Los Angeles,El Pollo Loco,Mexican,Fast Food,8239 Topanga Canyon Rd,Los Angeles
32,32,a313,b2270,La Azteca Tortilleria,mexican,NaN,4538 E Cesar E Chavez Ave,Los Angeles,Tamales Liliana,Mexican,NaN,4629 E Cesar E Chavez Ave,Los Angeles
33,33,a354,b2270,El Gallo Grill,mexican,NaN,4533 E Cesar E Chavez Ave,Los Angeles,Tamales Liliana,Mexican,NaN,4629 E Cesar E Chavez Ave,Los Angeles
34,34,a321,b2270,Moles La Tia,mexican,NaN,4619 E Cesar E Chavez Ave,Los Angeles,Tamales Liliana,Mexican,NaN,4629 E Cesar E Chavez Ave,Los Angeles
35,35,a2119,b2898,Five Guys,burgers,fast food,735 S Figueroa St,Los Angeles,Built Custom Burgers,American,Fast Food,3584 S Figueroa St,Los Angeles
36,36,a1035,b742,Mitsuru Sushi & Grill,japanese,sushi bars,316 E 1st St,Los Angeles,Sushi Enya,Japanese,Sushi,343 E 1st St,Los Angeles
37,37,a145,b1921,El Pollo Loco,fast food,mexican,2801 Crenshaw Blvd,Los Angeles,El Pollo Loco,Mexican,Fast Food,8239 Topanga Canyon Rd,Los Angeles
38,38,a1192,b892,Shake Shack,american (traditional),fast food,10250 Santa Monica Blvd,Los Angeles,Astro Burger,American,Fast Food,7475 Santa Monica Blvd,Los Angeles
39,39,a243,b1430,2 For 1 Pizza,pizza,italian,1905 S Western Ave,Los Angeles,Sorrento's Pizza House,Italian,Pizza,2428 S Western Ave,Los Angeles
40,40,a547,b1607,Palms Thai Restaurant,seafood,thai,5900 Hollywood Blvd,Los Angeles,Boran Thai Restaurant,Asian,Thai,5401 Hollywood Blvd,Los Angeles
41,41,a324,b1671,Thai House,thai,chinese,2080 S Atlantic Blvd,Monterey Park,Duck House,Chinese,Asian,501 S Atlantic Blvd,Monterey Park
42,42,a2290,b1649,Subway,sandwiches,fast food,3335 S Figueroa St,Los Angeles,Chick-fil-A,Fast Food,American,3758 S Figueroa St,Los Angeles
43,43,a685,b1649,Fatburger,burgers,fast food,3026 S Figueroa St,Los Angeles,Chick-fil-A,Fast Food,American,3758 S Figueroa St,Los Angeles
44,44,a141,b1430,Pizza King,pizza,NaN,3993 S Western Ave,Los Angeles,Sorrento's Pizza House,Italian,Pizza,2428 S Western Ave,Los Angeles
45,45,a87,b981,Sushi Gen,sushi bars,japanese,422 E 2nd St,Los Angeles,Komasa,Japanese,Sushi,351 E 2nd St,Los Angeles
46,46,a165,b981,Hama Sushi,sushi bars,japanese,347 E 2nd St,Los Angeles,Komasa,Japanese,Sushi,351 E 2nd St,Los Angeles
47,47,a2209,b1456,Tacone,american (new),NaN,330 S Hope St,Los Angeles,California Pizza Kitchen,American,Pizza,330 S Hope St,Los Angeles
48,48,a547,b1308,Palms Thai Restaurant,seafood,thai,5900 Hollywood Blvd,Los Angeles,Hollywood Thai Restaurant,Asian,Thai,5241 Hollywood Blvd,Los Angeles
49,49,a149,b148,Latitude 33,american (traditional),NaN,5855 W Century Blvd,Los Angeles,JW's Steakhouse,American,Steakhouse,5855 W Century Blvd,Los Angeles

# Matching tuple pairs in the candidate set

## Sampling the labeling the candidate set

First, randomly sample 500 tuple paris for labeling

In [22]:
# sample candidate set
S = em.sample_table(C, 500)

# save the sample table
S.to_csv('S.csv', index = False)

In [23]:
# load the labeled sample table
G = em.read_csv_metadata('S_labeled.csv', key='_id')
G.head()

,_id,ltable_id,rtable_id,ltable_name,ltable_address,ltable_city,ltable_zipcode,ltable_phone,rtable_name,rtable_address,rtable_city,rtable_zipcode,rtable_phone,labe
0,1,a1,b162,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020,2.133899e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,1
1,23,a2,b162,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020,2.133850e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,0
2,24,a2,b268,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020,2.133850e+09,Kang Hodong Baekjeong,3465 W 6th St,Los Angeles,90020.0,2.133850e+09,1
3,32,a2,b1987,Kang Ho-dong Baekjeong,3465 W 6th St,Los Angeles,90020,2.133850e+09,KangHoDong Baek Jeong,3465 W 6th St Ste 20,Los Angeles,90020.0,2.133850e+09,1
4,177,a37,b162,Hangari Bajirak Kalgooksoo,3470 W 6th St,Los Angeles,90020,2.133882e+09,Hae Jang Chon Korean BBQ Restaurant,3821 W 6th St,Los Angeles,90020.0,2.133899e+09,0

In [24]:
len(G)

500